workflows/01_director_ciclo_automatico.json
{
  "name": "Director Comercial — Ciclo Automático (6hs)",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cron 0-6-12-18hs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0,6,12,18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Registrar inicio en Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "PATCH",
        "url": "https://firestore.googleapis.com/v1/projects/estadisticas-81fc4/databases/(default)/documents/agente_estado/actual",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "{\n  \"fields\": {\n    \"ciclo_actual\": { \"stringValue\": \"corriendo\" },\n    \"ultimo_ciclo_inicio\": { \"timestampValue\": \"{{ $now.toISO() }}\" }\n  }\n}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Ejecutar Director Comercial",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "command": "cd \"C:\\Users\\Gonzalo Segura\\OneDrive\\Documentos\\estadisticas\\estadisticas\\agente\" && node index.js 2>&1"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "¿Ejecutó OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-exit",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Log OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 200],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Alerta Error por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 440],
      "parameters": {
        "method": "POST",
        "url": "https://whatsappwebhook-auqiqxpwka-uc.a.run.app/send",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"to\": \"{{ $env.WHATSAPP_ADMIN_PHONE }}\",\n  \"message\": \"⚠️ *Director Comercial — ERROR*\\n\\nEl ciclo automático falló a las {{ $now.format('HH:mm') }}\\n\\nError:\\n{{ $('Ejecutar Director Comercial').item.json.stderr.slice(0, 300) }}\"\n}",
        "options": {}
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Cron 0-6-12-18hs": {
      "main": [
        [
          {
            "node": "Registrar inicio en Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar inicio en Firestore": {
      "main": [
        [
          {
            "node": "Ejecutar Director Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Director Comercial": {
      "main": [
        [
          {
            "node": "¿Ejecutó OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ejecutó OK?": {
      "main": [
        [
          {
            "node": "Log OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Error por WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "last"
  },
  "tags": ["director-comercial", "maja-morena", "automatico"]
}
