workflows/02_director_trigger_manual.json
{
  "name": "Director Comercial — Trigger Manual desde Dashboard",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook desde Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "director-manual-trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "director-trigger",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Verificar clave secreta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-key",
              "leftValue": "={{ $json.body.secret }}",
              "rightValue": "={{ $env.DIRECTOR_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Ejecutar Ciclo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, 200],
      "parameters": {
        "command": "cd \"C:\\Users\\Gonzalo Segura\\OneDrive\\Documentos\\estadisticas\\estadisticas\\agente\" && node index.js 2>&1"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"ciclo\": \"iniciado\", \"exitCode\": {{ $json.exitCode }} }"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Respuesta no autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 420],
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "{ \"status\": \"error\", \"message\": \"No autorizado\" }"
      }
    }
  ],
  "connections": {
    "Webhook desde Dashboard": {
      "main": [
        [
          {
            "node": "Verificar clave secreta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar clave secreta": {
      "main": [
        [
          {
            "node": "Ejecutar Ciclo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta no autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Ciclo": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["director-comercial", "maja-morena", "webhook"]
}
